@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    section {
        @apply py-[75px];
    }
}

@layer components {
    .container {
        @apply px-5 max-w-[100vw];
    }
}
